*{
  margin: 0;
  padding: 0;
  /* border: 1px solid; */
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #3B3C36;
}
body.light {
  background-color: #E0FFFF;
}
/* @media only screen and (max-width: 900px) { 
  body{
    overflow-y: scroll;
  }
} */
